
.CityBox {
  //   background-color: #a2bff4;
//   background-color: #a2bff4;
background: rgba(245, 248, 253, 0.356);
backdrop-filter: blur(5px);

  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
//   color: white;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  text-align: center;
  color: #222222;

  @media (max-width: 900px) {
    width: 70%;
  }
  
  @media (max-width: 640px) {
    width: 100%;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .date {
    //   opacity: 0.9;
    }

    .location {
      display: flex;
      flex-direction: row;
      gap: 0.7rem;
      align-items: flex-end;
      font-size: 2rem;
      .city {
        font-weight: 700;
      }
      .country {
        opacity: 0.9;
      }
    }
  }

  .tempature {
    position: relative;
    padding-top: 0.5rem;

    .temp-number {
      font-size: 5rem;
      font-weight: 700;
    }

    .temp-type {
      position: absolute;
      top: 15%;
      font-size: 1.8rem;
    }
  }

  .icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 8rem;
      width: auto;
    }
  }
}
