.Home {
  width: 80vw;
  margin: 0 auto;
  @media (max-width: 900px) {
    width: 95%;
    margin-bottom: 2rem;
  }

  .location-wrapper {
  width: 100%;
  min-height: 75vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  position: relative;

  background-position: center center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  border-radius: 1rem;

  .like-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
}
