.App {

  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @media (max-width: 900px) {
    padding: 0 1rem;
  }

  // tosast alert font size adjesment
  .Toastify__toast-body {
    font-size: 1.6rem;  
  }
  
}
